<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.globals.site.title %><% if (typeof title === 'string') { %> - <%= title %><% } %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">

    <% if (sails.config.environment === 'production') { %>
      <link rel="stylesheet" href="/styles/style.min.css?v=<%= sails.config.globals.cacheVersion %>">
    <% } else { %>
      <link rel="stylesheet" href="/styles/style.css">
    <% } %>

    <%- partial('components/images') %>

  </head>

  <body>

    <div id="app">
      <%- body %>
    </div>

    <% if (sails.config.environment === 'production') { %>
      <script type="text/javascript" src="/js/vendor.min.js?v=<%= sails.config.globals.cacheVersion %>"></script>
      <script type="text/javascript" src="/js/index.min.js?v=<%= sails.config.globals.cacheVersion %>"></script>
    <% } else { %>
      <script type="text/javascript" src="/js/vendor.js"></script>
      <script type="text/javascript">Vue.config.debug = true;</script>
      <script type="text/javascript" src="/js/index.js"></script>
      <script src="//localhost:9090/livereload.js"></script>
    <% } %>

  </body>
</html>
