<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.globals.site.title %><% if (typeof title === 'string') { %> - <%= title %><% } %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- STYLES END -->

    <%- partial('components/images') %>

  </head>

  <body>

    <%- body %>

    <!-- SCRIPT -->
    <script type="text/javascript" src="/js/vendor.js"></script>
    <!-- SCRIPT END -->

    <% if (typeof script !== 'string') { script = 'public'; } %>
    <% if (sails.config.environment === 'production') { %>
      <script type="text/javascript" src="/js/<%= script %>.min.js"></script>
    <% } else { %>
      <script type="text/javascript">Vue.config.debug = true;</script>
      <script type="text/javascript" src="/js/<%= script %>.js"></script>
      <script src="//localhost:9090/livereload.js"></script>
    <% } %>

  </body>
</html>
