<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.globals.site.title %><% if (typeof title === 'string') { %> - <%= title %><% } %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- STYLES END -->

    <%- partial('components/images') %>

  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <% if (session.authenticated) { %>
            <h1><a href="/home"><%= sails.config.globals.site.title %></a></h1>
          <% } else { %>
            <h1><a href="/"><%= sails.config.globals.site.title %></a></h1>
          <% } %>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li <% if (title && title === sails.config.globals.pageTitle.diceRoller) { %> class="active"<% } %>>
            <a href="/dice">Dice Roller</a>
          </li>
          <% if (sails.config.environment === 'development') { %>
            <li <% if (title && title === sails.config.globals.pageTitle.sandbox) { %> class="active"<% } %>>
              <a href="/sandbox">Sandbox</a>
            </li>
          <% } %>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <% if (session.authenticated) { %>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </section>
    </nav>

    <%- body %>

    <!-- SCRIPT -->
    <script type="text/javascript" src="/js/vendor.js"></script>
    <!-- SCRIPT END -->

    <% if (typeof script !== 'string') { script = 'index'; } %>
    <% if (sails.config.environment === 'production') { %>
      <script type="text/javascript" src="/js/<%= script %>.min.js"></script>
    <% } else { %>
      <script type="text/javascript">Vue.config.debug = true;</script>
      <script type="text/javascript" src="/js/<%= script %>.js"></script>
      <script src="//localhost:9090/livereload.js"></script>
    <% } %>

  </body>
</html>
